html, body { height:100%; }
body {
	padding:0;
	margin:0;
	background:#333;
}

#wrapper {
	width:100%;
	min-width:320px;
	height:100%;
	color:#eee;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;
	color:#eee;
	font-size:12px;
}

#nav {
	position:absolute;
	z-index:100;
	top:8px;
	width:200px;
	height:20px;
	left:50%;
	background:rgba(0,0,0,0.75);
	padding:0;
	margin:0 0 0 -100px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}

#swipeview-slider > div {
	position:relative;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
	display:box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-box-orient:vertical;
	-o-box-orient:vertical;
	box-orient:vertical;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	-ms-box-pack:center;
	-o-box-pack:center;
	box-pack:center;
	-webkit-box-align:center;
	-mox-box-align:center;
	-ms-box-align:center;
	-o-box-align:center;
	box-align:center;
}

#swipeview-slider img {
	position: relative;
	display:block;
	border:5px solid #eee;
	-webkit-box-shadow:0 2px 6px #000;
	-moz-box-shadow:0 2px 6px #000;
	-ms-box-shadow:0 2px 6px #000;
	-o-box-shadow:0 2px 6px #000;
	box-shadow:0 2px 6px #000;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	-webkit-transition-duration:.4s;
	-moz-transition-duration:.4s;
	-ms-transition-duration:.4s;
	-o-transition-duration:.4s;
	transition-duration:.4s;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-ms-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
	opacity:1;
	pointer-events:none;
}

#swipeview-slider #details {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	display:block;
	background:rgba(0,0,0,0.75);
	height: 60px;
	font-size:10px;
	text-align:center;
	text-shadow:0 1px 0 #000;
	border-top:1px solid rgba(255,255,255,0.2);
	-webkit-border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-ms-border-top-left-radius:10px;
	-o-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-top-right-radius:10px;
	-ms-border-top-right-radius:10px;
	-o-border-top-right-radius:10px;
	border-top-right-radius:10px;
	-webkit-transition-duration:.3s;
	-moz-transition-duration:.3s;
	-ms-transition-duration:.3s;
	-o-transition-duration:.3s;
	transition-duration:.3s;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-ms-transition-property:-ms-transform;
	-o-transition-property:-o-transform;
	transition-property:transform;
	-webkit-transform:translate(0,-100%) translateZ(0);
	-moz-transform:translate(0,-100%) translateZ(0);
	-ms-transform:translate(0,-100%);
	-ms-transform:translate(0,-100%) translateZ(0);
	-o-transform:translate(0,-100%);
	-o-transform:translate(0,-100%) translateZ(0);
	transform:translate(0,-100%) translateZ(0);
}

#swipeview-slider #details #details-title {
	padding-top: 2px;
	font-size: 23px;
	height: 30px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	max-width: 95%;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
	color:#eee;
}

#swipeview-slider #htmlSpan {
	display:block;
	border:5px solid #eee;
	-webkit-box-shadow:0 2px 6px #000;
	-moz-box-shadow:0 2px 6px #000;
	-ms-box-shadow:0 2px 6px #000;
	-o-box-shadow:0 2px 6px #000;
	box-shadow:0 2px 6px #000;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	-webkit-transition-duration:.4s;
	-moz-transition-duration:.4s;
	-ms-transition-duration:.4s;
	-o-transition-duration:.4s;
	transition-duration:.4s;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-ms-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
	opacity:1;
	pointer-events:none;
}

#swipeview-slider .swipeview-active #details {
	-webkit-transform:translate(0,0) translateZ(0);
	-moz-transform:translate(0,0) translateZ(0);
	-ms-transform:translate(0,0);
	-ms-transform:translate(0,0) translateZ(0);
	-o-transform:translate(0,0);
	-o-transform:translate(0,0) translateZ(0);
	transform:translate(0,0) translateZ(0);
}

#wrapper > div > .swipeview-loading {
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#555)),
		-webkit-gradient(linear, 0 0, 100% 0, from(#777), to(#777));
	background-position:50% 50%, 50% 50%;
	background-size:200px 140px, 210px 150px;
	background-repeat:no-repeat;
}

#wrapper > div > .swipeview-loading img,
#swipeview-slider img.loading {
	-webkit-transition-duration:0s;
	opacity:0;
}

#wrapper > div > .swipeview-loading details {
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-ms-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
	-webkit-transform:translate(0,100%) translateZ(0);
	-moz-transform:translate(0,100%) translateZ(0);
	-ms-transform:translate(0,100%);
	-ms-transform:translate(0,100%) translateZ(0);
	-o-transform:translate(0,100%);
	-o-transform:translate(0,100%) translateZ(0);
	transform:translate(0,100%) translateZ(0);
}


#info-popup {
  position:absolute;
  z-index:500;
  top:50%;
  width:300px;
  height:300px;
  left:50%;
  margin-left: -150px;
  margin-top: -150px;
}

#info-popup > #loading-status {
	height: 150px;
}

#info-popup > .dino {
	position: absolute;

	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top:-92px;
	opacity:0.2;
}

#info-popup > .settings {
	position:absolute;right:0;bottom:0
}

#title-by {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#author, #time, #subreddit, #score, #comments {
	font-size: 1.5em;
}

#settings {
	float: right;
	font-size:1.5em;
}

#myModalLabel {
	padding-left: 26px;
	background: url(../img/bestgraph.com.dinosaures-84.gif) no-repeat top left;
	background-size: 25px 23px;
	background-position: 0px 0px;
}

.body-unit {
	width: 400px;
	margin-left: 20px;
	margin-right: 20px;
}

.modal-body table{
	border-collapse:separate;
	border-spacing:20px 0px;
}

.github {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}