img {
  display: inline-block;
}

body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.spinner {
  background-color:#f00;
}

.pug-box {
  position: relative;
  margin-bottom: 50px;
}
.pug-box .caption {
  padding-right: 70px;
}
.pug {
  border-radius: 4px;
}

.matte-media-box{
  padding:3px;
  border-style:solid;
  border-width:1px;
  border-color:#ddd #cacaca #acacac;
  line-height:0;
  display:inline-block;
  background-color:#fff;
  position:relative;
  
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  
  -webkit-box-shadow:0 4px 2px -2px rgba(0,0,0,0.1),0 0 0 #000;
  -moz-box-shadow:0 4px 2px -2px rgba(0,0,0,0.1),0 0 0 #000;
  box-shadow:0 4px 2px -2px rgba(0,0,0,0.1),0 0 0 #000
}

.matte-media-box img{border:1px solid #777}

.matte-media-box .caption{padding:7px 8px;line-height:1em}

.matte-media-box.small{padding:2px}a 
